body {
    background: lightgoldenrodyellow;
}
#powder_canvas {
    border: 3px solid gray;
    top: 50%;
    left: 50%;
    position: absolute;
    width: 600px;
    height: 800px;
    transform: translate(-50%, -50%);
}